/*=============== BASE ===============*/
* {
	margin: 0;
	padding: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}


html {
	scroll-behavior: smooth;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}

main {
	width: 90%;
}

body {
	background-color: #fefef8;
	line-height: 1;
	max-width: 1440px;
	width: 100%;
	margin:auto;
	font-family: 'Work Sans' ;
	font-size: 0.87rem;
	display: flex;
	flex-direction: column;
	align-items: center;
}

section {
	margin: 3.12rem 0;
}

ol, ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

a {
	color: inherit;
	text-decoration: none;
}

.active {
	font-weight: 600;
}

/*=============== HEADER ===============*/
header {
	display: flex;
	justify-content: space-between;
	margin: 3.12rem 0;
	width: 90%;
}

h1 {
	display: flex;
	flex-direction: column;
	font-family: 'Syne';
	font-size: 1.37rem;
	font-weight: 800;
	color: #B1663C;
}

h1 > span {
	font-family: 'Work Sans';
	font-size: 0.62rem;
	letter-spacing: 0.1em;
}

h2 {
	font-family: 'Syne';
	font-weight: 700;
	font-size: 1.87rem;
	color: #1D6154;
}

nav ul {
	display: flex;
	align-items: center;
	list-style-type: none;

}
nav li {
	padding: 0 1.87rem;
	font-size: 1.2em;
}

li:hover {
	color: #B1663C;
	cursor: pointer;
}

/*=============== ADMINISTRATEUR ===============*/
.admin-mod {
	background-color: black;
	height: 3.12rem;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;

}

.admin-mod p {
	color: white;
}

/*=============== INTRO ===============*/
#introduction {
	display: flex;
	align-items: center;
}

#introduction figure {
	flex: 1;
}

#introduction img {
	display: block;
	margin: auto;
	width: 80%;
}

#introduction article {
	flex: 1;
}

#introduction h2 {
	margin-bottom: 1em;
}

#introduction p {
	margin-bottom: 0.5em;
}

/*=============== PORTFOLIO ===============*/
#portfolio h2 {
	text-align: center;
	margin-bottom: 1em;
}

.container-filtres {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 0.93rem;
	height: 6.25rem;
}

.container-filtres button {
	background-color: #fefef8;
	padding: 0.56rem 1.25rem;
	border: 0.06rem solid #1d6154;
	border-radius: 1.56rem;
	color: #1d6154;
	font-weight: 700;
	font-size: 1.2rem;
	font-family: Syne;
	cursor: pointer;
}

.container-filtres button:focus {
	background-color: #1d6154;
	color: white;
}

.gallery {
	width: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-column-gap: 1.25rem;
	grid-row-gap: 1.25rem;
}

.gallery img {
	width: 100%;
}

#portfolio .div-edit {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-bottom: 2rem;
	gap: 1.25rem;
}

#portfolio .div-edit span {
	font-size: large;
	margin-bottom: 1.5rem;
	cursor: pointer;
}

/*=============== MODALS ===============*/
.container-modals {
	display: none;
	justify-content: center;
	align-items: center;
	position: fixed;
	margin: 0 auto;
	max-width: 1440px;
	width: 100%;
	height: 100%;
	background-color: rgba(128, 128, 128, 0.347);
}

.modal-projet {
	background-color: white;
	width: 40%;
	height: 70%;
	border-radius: 0.75rem;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
	position: relative;
}

.fa-xmark {
	position: absolute;
	top: 1.25rem;
	right: 1.25rem;
	font-size: 1.3rem;
	cursor: pointer;
}

/* Edition des projets dans la modale */
.container-gallery-button {
	display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 70%;
    width: 70%;
}

.projet-modal {
	width: 100%;
    height: 50%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 40% 40% 40%;
    grid-column-gap: 10px;
    grid-row-gap: 30px;
	margin-top: -2rem;
}

.modal-projet h2 {
	margin-top: 10px;
	margin-bottom: 2rem;
    font-weight: bold;
    font-size: 1.5rem;
}

.projet-modal figure {
	width: 100%;
    height: 100%;
    position: relative;
}

.projet-modal img {
	width: 100%;
    height: 100%;
}

.projet-modal span {
	display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 5px;
    right: 5px;
    background-color: black;
    height: 18px;
    width: 18px;
    cursor: pointer;
}

.projet-modal .fa-trash-can {
	color: white;
    font-size: 0.7rem;
}

.container-button-modal {
	display: flex;
    justify-content: center;
    align-items: center;
    height: 20%;
    width: 100%;
    border-top: 1px solid gray
}

.container-button-modal button {
	background-color: #1d6154;
    padding: 9px 50px;
    border-radius: 25px;
    color: white;
    font-weight: 700;
    font-size: 1rem;
    font-family: Syne;
    cursor: pointer;
	border: none;
}

.container-button-modal button:hover {
	background-color: white;
    border: 1px solid #1d6154;
    color: #1d6154;
}

/* Modale 2 - Add works */
.modal-addworks {
	background-color: white;
	width: 40%;
	height: 70%;
	border-radius: 0.75rem;
	display: none;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
	position: relative;
}

.modal-addworks .arrow-left .fa-arrow-left {
	position: absolute;
    top: 1.25rem;
    left: 1.25rem;
	font-size: 1.3rem;
    cursor: pointer;
}

.modal-addworks .xmark .fa-xmark {
	position: absolute;
	top: 1.25rem;
	right: 1.25rem;
	font-size: 1.3rem;
	cursor: pointer;
}

.modal-addworks h2 {
	margin-top: 10px;
    font-weight: bold;
    font-size: 1.5rem;
}

.modal-addworks form {
	display: flex;
    justify-content: center;
    flex-direction: column;
    height: 80%;
    width: 75%;
    gap: 20px;
}

.modal-addworks form .container-file {
	display: flex;
    position: relative;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 40%;
    background-color: #e8f1f6;
    gap: 10px;
}

.modal-addworks form .container-file img {
	display: none;
    max-width: 100%;
    height: 100%;
    z-index: 2;
    position: absolute;
}

.modal-addworks form .container-file .fa-image {
	margin-top: 1rem;
	font-size: 4rem;
    color: #b9c5cc;
}

.modal-addworks form .container-file .label-file {
	display: block;
    display: flex;
    align-items: center;
    background-color: #b9c5cc;
    border-radius: 15px;
    height: 30px;
    padding: 0 20px;
    color: #306685;
    cursor: pointer;
}

.modal-addworks form .container-file input {
	opacity: 0;
}

.modal-addworks form #title {
	height: 3.12rem;
	font-size: 0.8rem;
	border: none;
	box-shadow: 0 0.25rem 0.87rem rgba(0, 0, 0, 0.09);
}

.modal-addworks form #category-input {
	height: 3.12rem;
	font-size: 0.8rem;
	border: none;
	box-shadow: 0 0.25rem 0.87rem rgba(0, 0, 0, 0.09);
}

.container-button-addworks {
	display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    width: 100%;
    border-top: 1px solid gray;
}

.container-button-addworks .button-modal-2 {
	background-color: #a7a7a7;
    padding: 9px 50px;
    border-radius: 25px;
    color: white;
    font-weight: 700;
    font-size: 1rem;
    font-family: Syne;
    cursor: pointer;
	border: none;
}

.container-button-addworks .button-modal-2:hover {
	background-color: white;
    border: 1px solid #1d6154;
    color: #1d6154;
}

.button-modal-2-active {
	background-color: #1d6154;
	padding: 9px 50px;
    border-radius: 25px;
    color: white;
    font-weight: 700;
    font-size: 1rem;
    font-family: Syne;
    cursor: pointer;
	border: none;
}

/*=============== LOGIN ===============*/
.login {
	width: 80%;
	min-height: 40.6rem;
	margin-top: 5.62rem;
	margin-bottom: 14.25rem;
}

.reset-password {
    display: flex;
    justify-content: center;
    color: black;
    font-weight: 700;
	text-decoration: underline;
}

.message-error {
	color: #ff0000;
}

/*=============== CONTACT ===============*/
#contact {
	width: 50%;
	margin: auto;
}

#contact > * {
	text-align: center;
}

#contact h2{
	margin-bottom: 1.25rem;
}

#contact form {
	text-align: left;
	margin-top: 1.87rem;
	display: flex;
	flex-direction: column;
}

#contact input {
	height: 3.12rem;
	font-size: 1.2em;
	border: none;
	box-shadow: 0 0.25rem 0.87rem rgba(0, 0, 0, 0.09);
}

#contact label {
	margin: 2em 0 1em 0;
	font-weight: 700;
}

#contact textarea {
	border: none;
	box-shadow: 0 0.25rem 0.87rem rgba(0, 0, 0, 0.09);
}

input[type="submit"]{
	cursor: pointer;
	font-family: 'Syne';
	font-weight: 700;
	color: white;
	background-color: #1D6154;
	margin : 2em auto;
	width: 11.25rem;
	text-align: center;
	border-radius: 3.75rem;
}

/*=============== FOOTER ===============*/
footer {
	display: flex;
	justify-content: flex-end;
	align-items: center;
	background-color: #ffffff;
	width: 100%;
}

footer nav ul {
	display: flex;
	justify-content: flex-end;
	margin: 2em;
}