/*=============== BASE ===============*/
* {
	margin: 0;
	padding: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}


html {
	scroll-behavior: smooth;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}

main {
	width: 90%;
}

body {
	background-color: #fefef8;
	line-height: 1;
	max-width: 1440px;
	width: 100%;
	margin:auto;
	font-family: 'Work Sans' ;
	font-size: 0.87rem;
	display: flex;
	flex-direction: column;
	align-items: center;
}

section {
	margin: 3.12rem 0;
}

ol, ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

a {
	color: inherit;
	text-decoration: none;
}

.active {
	font-weight: 600;
}

/*=============== HEADER ===============*/
header {
	display: flex;
	justify-content: space-between;
	margin: 3.12rem 0;
	width: 90%;
}

h1 {
	display: flex;
	flex-direction: column;
	font-family: 'Syne';
	font-size: 1.37rem;
	font-weight: 800;
	color: #B1663C;
}

h1 > span {
	font-family: 'Work Sans';
	font-size: 0.62rem;
	letter-spacing: 0.1em;
}

h2 {
	font-family: 'Syne';
	font-weight: 700;
	font-size: 1.87rem;
	color: #1D6154;
}

nav ul {
	display: flex;
	align-items: center;
	list-style-type: none;

}
nav li {
	padding: 0 1.87rem;
	font-size: 1.2em;
}

li:hover {
	color: #B1663C;
	cursor: pointer;
}

/*=============== ADMINISTRATEUR ===============*/
.admin-mod {
	background-color: black;
	height: 3.12rem;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;

}

.admin-mod p {
	color: white;
}

/*=============== INTRO ===============*/
#introduction {
	display: flex;
	align-items: center;
}

#introduction figure {
	flex: 1;
}

#introduction img {
	display: block;
	margin: auto;
	width: 80%;
}

#introduction article {
	flex: 1;
}

#introduction h2 {
	margin-bottom: 1em;
}

#introduction p {
	margin-bottom: 0.5em;
}

/*=============== PORTFOLIO ===============*/
#portfolio h2 {
	text-align: center;
	margin-bottom: 1em;
}

.container-filtres {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 0.93rem;
	height: 6.25rem;
}

.container-filtres button {
	background-color: #fefef8;
	padding: 0.56rem 1.25rem;
	border: 0.06rem solid #1d6154;
	border-radius: 1.56rem;
	color: #1d6154;
	font-weight: 700;
	font-size: 1.2rem;
	font-family: Syne;
	cursor: pointer;
}

.container-filtres button:focus {
	background-color: #1d6154;
	color: white;
}

.gallery {
	width: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-column-gap: 1.25rem;
	grid-row-gap: 1.25rem;
}

.gallery img {
	width: 100%;
}

#portfolio .div-edit {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-bottom: 2rem;
	gap: 1.25rem;
}

#portfolio .div-edit span {
	font-size: large;
	margin-bottom: 1.5rem;
	cursor: pointer;
}

/*=============== MODALS ===============*/
.container-modals {
	display: none;
	justify-content: center;
	align-items: center;
	position: fixed;
	margin: 0 auto;
	width: 100%;
	height: 100%;
	background-color: rgba(128, 128, 128, 0.347);
}

.container-modals button {
	background-color: #fefef8;
	padding: 0.56rem 1.25rem;
	border: 0.06rem solid #1d6154;
	border-radius: 1.56rem;
	color: #1d6154;
	font-weight: 700;
	font-size: 1.2rem;
	font-family: Syne;
	cursor: pointer;
}

.container-modals button:hover {
	background-color: #1d6154;
	color: white;
}

.modal-projet {
	background-color: white;
	width: 50%;
	height: 50%;
	border-radius: 0.75rem;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
	position: relative;
}

.fa-xmark {
	position: absolute;
	top: 1.25rem;
	right: 1.25rem;
	cursor: pointer;
}

/* Edition des projets dans la modale */
.projet-modal {
	width: 100%;
    height: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px
}

.projet-modal figure {
	width: 20%;
    height: 30%;
    position: relative;
}

.projet-modal img {
	width: 100%;
    height: 100%;
}

.projet-modal span {
	display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 5px;
    right: 5px;
    background-color: black;
    height: 15px;
    width: 15px;
    cursor: pointer;
}

.projet-modal .fa-trash-can {
	color: white;
    font-size: 0.7rem;
}

/*=============== LOGIN ===============*/
.login {
	width: 80%;
	min-height: 40.6rem;
	margin-top: 5.62rem;
	margin-bottom: 14.25rem;
}

.reset-password {
    display: flex;
    justify-content: center;
    color: black;
    font-weight: 700;
	text-decoration: underline;
}

.message-error {
	color: #ff0000;
}

/*=============== CONTACT ===============*/
#contact {
	width: 50%;
	margin: auto;
}

#contact > * {
	text-align: center;
}

#contact h2{
	margin-bottom: 1.25rem;
}

#contact form {
	text-align: left;
	margin-top: 1.87rem;
	display: flex;
	flex-direction: column;
}

#contact input {
	height: 3.12rem;
	font-size: 1.2em;
	border: none;
	box-shadow: 0 0.25rem 0.87rem rgba(0, 0, 0, 0.09);
}

#contact label {
	margin: 2em 0 1em 0;
	font-weight: 700;
}

#contact textarea {
	border: none;
	box-shadow: 0 0.25rem 0.87rem rgba(0, 0, 0, 0.09);
}

input[type="submit"]{
	cursor: pointer;
	font-family: 'Syne';
	font-weight: 700;
	color: white;
	background-color: #1D6154;
	margin : 2em auto;
	width: 11.25rem;
	text-align: center;
	border-radius: 3.75rem;
}

/*=============== FOOTER ===============*/
footer {
	display: flex;
	justify-content: flex-end;
	align-items: center;
	background-color: #ffffff;
	width: 100%;
}

footer nav ul {
	display: flex;
	justify-content: flex-end;
	margin: 2em;
}